streamlit
librosa
numpy  # Librosa depends on numpy for handling arrays
scipy  # Librosa requires scipy for certain signal processing functions
soundfile # Librosa requires soundfile for audio file loading


